h1 {
  color: red;
}

// test - properties should reorder in output
.zebra {
  font-size: 66px;
  background: green;
  padding: 10px;
  margin: 20px;
  border: 1px solid paleturquoise;
}

.flexBox {
  display: flex;
  align-items: center;
  p {
    color: orange;
    &:first-of-type {
      color: yellow;
      font-weight: 900;
      font-size: 28px;
    }
  }
}